:root {
    --dark-blue: #1f71e8;
    --dark-Gray: #616161;
    --extra-light-brown: #fdf0d7;
    --light-brown: #ecd5ab;
    --dark-brown: #929190;
    --light-yellow: #f8e3a8;
    --light-red: #f3ac99;
    --light-gray: #83898a;
    --scale: 0.2;
    --default-color: #6e6e6e;
    --secondry-color: #616161;
}

@media print,
screen and (min-width:64em) {
    .grid-x>.large-3 {
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
}
@media print,
screen and (min-width:64em) {
    .grid-x>.large-auto {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
        flex: 1 1 0px;
        width: auto
    }
    .grid-x>.large-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .grid-x>.large-3 {
        width: 25%
    }

}
@media print,
screen and (min-width:64em) {
    .grid-margin-x>.large-3 {
        width: calc(25% - 1.875rem)
    }
}
@media print,
screen and (min-width:64em) {
    .small-margin-collapse>.large-2 {
        width: 16.66667%
    }
}
/* #region  version movil*/
body, html {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', 'arial';
    background: #616161;
    overflow: hidden !important;
}

#loader {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	text-align: center;
	opacity: 0;
}

#loader .dot {
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 5px;
	border: 2px solid var(--dark-blue);
}
.cursor {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    contain: layout style size;
    pointer-events: none;   
    filter: invert(1);
    mix-blend-mode: var(--hard-light);
    &.media-blend {
        z-index: 100;
        mix-blend-mode: hard-light;
        filter: invert(0);
    .cursor-media {
        mix-blend-mode: exclusion;
        filter: invert(1);
        }
    }
    .cursor-mix{
    filter: invert(1);  
    mix-blend-mode: exclusion;
    }
    &:before {
      content: "";
      position: absolute;
      top: -24px;
      left: -24px;
      display: block;
      width: 48px;
      height: 48px;
      transform: scale(var(--scale));
      background:#fff;
      border-radius: 50%;
      filter: invert(1);      
      transition:  .5s ease-in-out; 

    }
    .cursor-media {
      display: block;
      height: 350px;
      width: 350px;
      overflow: hidden;
      border-radius: 100%;
      transform: scale(0);
      margin: -175px 0 0 -175px;
      position: relative;
      z-index: 0;
      background-color: #FFF;
      video {
        height: 350px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 9;
        background-color: #FFF;        
      }
    }
    
  }
  
 
#Rectangulo_antena
 {
    z-index: 555;
    &:active{
        transform: scale(1);
        fill: #149b3a;
        stroke: #2295ef;
    }
  }

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
  
img {
    width: 100%;
}

.nav-container {    
    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header,
.iconos, video {
    display: none;
}

.inner {
    background: radial-gradient(circle at var(--x) var(--y), #7bb4f9  40%, #1779ba 100%);
    border-radius: 5%;
    padding: 2em;
    text-align: center;
    color: #fff;
    z-index: 1;
    margin-bottom: 2em;
}
.swiper-button-next, .swiper-button-prev{
    top: 21% !important;
}

.hero {
    background: #1f71e8;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.hero-elegirnos {
    background: #1f7ae8;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    padding: 0 auto;
    width: 200px;
    font-weight: bold;
}
.meetServicios {
    display: flex;
    padding: 0 auto;
    width: 19em;
    font-weight: bold;
}

span {
    margin-top: 1em;
    margin-right: .5em
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #E5D5FA;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    letter-spacing: .2em;
}

.titulo-servicio {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #3b3b3B;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}


.container-servicios ul li {

    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 80px;
            animation: dash 4s linear alternate forwards;
        }

        &.two {
            width: 44px;
        }

        &.three {
            width: 100px;
        }
    }

}

.titulo-servicio {
    font-weight: bold;
    mix-blend-mode: difference;
    color: #fff;
}

.featured-desc {
    margin-bottom: 2em;
}

.porfolio-container .swiper-container {
    border-radius: 1.5em;
    margin-bottom: -7em;
    padding-bottom:0%;
    img{
        background-attachment: fixed;
    }
}
.Scroll{
    width:30px;
    text-align: center;
    margin-top: 2em;
}
.next-section {
    .next  {
      transform: rotate(180deg);
    }
  }
  
  .next {
     position: relative;
     width:30px;
     text-align: center;
     margin-top: 2em;
     margin-left: -1em;
  }
  
$offset: 245;
$duration: 3s;

.spinner {
    animation: rotator $duration linear infinite;
  }
  .spinner-arrow {
    animation: vertical-translate $duration ease-out infinite;
    position: absolute;
    margin-top: -12px;
    left: 19px;
  }
  
  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(250deg); }
  }
  
  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: #fff;
    animation: dash $duration linear infinite;
  }
  
  @keyframes dash {
    0% { stroke-dashoffset: $offset; }
    70% {
      stroke-dashoffset: $offset/4;
      transform:rotate(205deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform:rotate(540deg);
    }
  }
  
  @keyframes vertical-translate {
    0%   {opacity:0; top: -20%; }
    25%  {opacity:1; top: 50%; }
    75%  {opacity:1; top: 50%; }
    100% {opacity:0; top: 120%; }
  }
  
ul {
    .transition {
        display: flex;
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        pointer-events: none;
        z-index: 999;

        .color1 {
            transform: scaleY(0);
            background: #2c4a9a;
            width: 20%;
            z-index: 9999;

        }

        .color2 {
            transform: scaleY(0);
            background: #149b3a;
            width: 20%;
            z-index: 9999;

        }

        .color3 {
            transform: scaleY(0);
            background: #d07227;
            width: 20%;
            z-index: 9999;

        }

        .color4 {
            transform: scaleY(0);
            background: #37a7e9;
            width: 20%;
            z-index: 9999;

        }

        .color5 {
            transform: scaleY(0);
            background: #b4535d;
            width: 20%;
            z-index: 9999;

        }
    }
}

.btn-nav {
    position: relative;
    left: 1em;
    background: #37a7e9;
    margin: 3px;
    border-radius: .3em;
    font-size: 11px;
}
.nav-container {

    .head {
        background: rgba(6, 147, 255, 0.59);
        z-index: 6;
    }
}
.secciones {
    text-align: center;
    margin: 4em;
    color: #FFF;
    width: 50vw;
    font-size: 1em;
}


.contenedorEmpresas {
    width: 100%;
    overflow: hidden;
    position: relative;

    .items {
        display: flex;
        align-items: center;
        width: fit-content;
        animation: carouselAnim 60s infinite alternate linear;

        .entry {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 300px;
            background: white;
            margin: 1em;
            padding: .5em;
            border-radius: 10px;
            box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.05);

            p {
                text-align: center;
                padding: 1em;
            }

            p.name {
                font-weight: bold;
            }

            @keyframes carouselAnim {
                from {
                    transform: translate(0,0);
                }
                to {
                    transform: translate(calc(-100% + (4*350px)));
                }
            }


        }
    }

    @media only screen and (max-width: 768px) {
        .items {
            animation: carouselAnim 30s infinite alternate linear;
        }

        @keyframes carouselAnim {
            from {
                transform: translate(0,0);
            }
            to {
                transform: translate(calc(-100% + (2*300px)));
            }
        }
    }

    .faders {
        width: 100%;
        position: absolute;
        height: 100%;

        .left, .right {
            background: linear-gradient(to right, rgba(97, 97, 97, 0.707) 0%,rgba(255,255,255,0) 100%);            width: 20%;
            height: 100%;
            position: absolute;
            z-index: 200;
        }

        .right {
            right: 0;
            background: linear-gradient(to left, rgba(97, 97, 97, 0.707) 0%,rgba(255,255,255,0) 100%);    
            }
    }
}


    
.footer {
    width: 100%;
    background-color: #6e6e6e;
    margin: 0 auto;
    padding-top: 24px;

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        .main {
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 16px 0 16px;
        }
    }

    .col {
        flex: 1;
        max-width: 100%;
        transition: all 0.5s;
        border: 1px solid transparent;
    }

    .site-info {
        display: flex;
        flex-direction: row;
    }

    .footer-disclaimer {
        width: 65%;
        border-right: 1px dashed white;
        margin: 0;

        .logo img {
            width: 50%;
        }

        p {
            padding-right: 24px;
            padding-bottom: 8px;
            margin-top: 16px;
            color: white;
        }
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        li {
            margin: 4px 0px;
        }
    }

    .footer-links a {
        color: white;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: #000;
            border-radius: 10%;
        }
    }

    .social-icons {
        width: 100%;
        padding-top: 16px;
        margin-top: 1em;
        border-top: 1px dashed white;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;

            li .footerIcons {
                padding: 0 .8em;
                width: 44%;
            }
        }
    }

    .ending-note {
        background-color: #676767;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.2) 20%,
                rgba(0, 0, 0, 0) 50%);
        font-size: 0.8rem;
        margin:  0;
        padding: 16px;        
    }

    .ending-note p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        color: #fff;
    }

    .contactform {
        padding: 16px 48px;

        p {
            margin: 0 0 24px 0;
            padding: 16px 0 0 0;
            text-align: center;
            font-weight: bold;
        }

        form {
            display: flex;
            flex-direction: column;

            input[type="text"],
            textarea {
                background-color: transparent;
                color: white;
                margin-bottom: 16px;
                border: 0;
                border-bottom: 1px solid white;
                font-size: 1rem;

                &:focus {
                    outline: 0;
                }
            }
        }

        label {
            font-size: 0.6rem;
            color: white;
            text-transform: uppercase;
            margin-bottom: 4px;
        }

        button {
            max-width: 30%;
            max-width: fit-content;
            max-width: max-content;
            background-color: transparent;
            padding: 8px 16px;
            color: white;
            border: 1px solid white;
            margin: 0 auto;
        }
    }

    .col.maps {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 1px dashed white;
        border-bottom: 1px dashed white;
        margin-top: 16px;
    }

    .place {
        flex: 1;
        display: flex;
        margin: 16px 0px;

        .address {
            margin-left: 1em;
            padding: 0;

            p {
                margin: 4px 0 0 0;
                padding: 0;
                color: white;
            }
        }

        .mapcontainer {
            height: 100%;
            padding-bottom: 33.5%;
        }

        .map {

            width: 100px;
            height: 100px;
            text-align: center;
            border: 3px solid white;
        }
    }
}



.dark {
    color: #282828;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .deck {
    min-height: 100vh;
    position: relative;
  }
  
  .section-transition {
    position: relative;
  }
  
  //Deck1 - Split text effect
  $transition-time: 1s;
  $transition-ease: ease;
  .deck1 {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    
    .bg {
      width: 100%;
      height: 50%;
  
      position: absolute;
      left: 0;
    
      background: blue;
      background: seagreen;
      overflow: hidden;
  
      &.top {
        top: 0;
      }
      &.bottom {
        bottom: 0;
      }
    }
  }
  .split-text {
    $height: 3em;
    width: 5em;
    height: $height;
    margin: auto;
    
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    
    font-family: sans-serif;
    font-size: 120px;
    line-height: 1em;
    font-weight: 700;
    color: #fff;
      
    .bg.top & {
      height: $height/2;
      bottom: 0;
      z-index: 20;
    }
    .bg.bottom & {
      padding-bottom: .09em;
      top: -1.5em;
      z-index: 10;
      
      vertical-align: bottom;
      clip: rect($height/2 auto auto auto);
    }
  }
  
  .deck2 {
    top: 30vh;
  }


  .frame{
      height: 80vh;
      width: 85vw;
    //   margin: 2em;
      margin-top: -47px;
      margin-left: 4em;
  }
  
  .grid-margin-y {
    margin-top: -.625rem;
    margin-bottom: -.625rem
}

@media print,
screen and (min-width:40em) {
    .grid-margin-y {
        margin-top: -.9375rem;
        margin-bottom: -.9375rem
    }
}
  .grid-margin-x {
    margin-left: -.625rem;
    margin-right: -.625rem
}

@media print,
screen and (min-width:40em) {
    .grid-margin-x {
        margin-left: -.9375rem;
        margin-right: -.9375rem
    }
}

.grid-x {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%
}

    /* #endregion movil*/

.modaloverlay {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    z-index: -1;
    display: none;
    font-size: .8em;
    backdrop-filter: blur(6px);    

    &:target {
        display: block;
        opacity: 1;
        pointer-events: auto;
        z-index: 99999;
    }
    
    .contactform {
        padding: 16px 48px;

        p {
            margin: 0 0 24px 0;
            padding: 16px 0 0 0;
            text-align: center;
            font-weight: bold;
        }

        form {
            display: flex;
            flex-direction: column;

            input[type="text"],
            textarea {
                background-color: transparent;
                color: black;
                margin-bottom: 16px;
                border: 0;
                border-bottom: 1px solid gray;
                font-size: 1rem;

                &:focus {
                    outline: 0;
                }
            }
        }

        label {
            font-size: 0.6rem;
            color: black;
            text-transform: uppercase;
            margin-bottom: 4px;
        }

        button {
            max-width: 30%;
            max-width: fit-content;
            max-width: max-content;
            background-color: transparent;
            padding: 8px 16px;
            color: black;
            border: 1px solid black;
            margin: 0 auto;
        }
    }
}

.modal {
    background-color: white;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 3em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 960px) {
    .modaloverlay {
        font-size: 1em;
        .modal {
            height: 75%;
            margin: 3% auto;
            max-height: 57em;
            max-width: 66em;
            width: 85%;

            &>div {
                border: none;
                width: 100%;
                height: 100%;
            }
        }
    }

    .clos {
        background-color: #33c;
        color: white;
        font-size: 24px;
        padding: 8px 12px;
        position: relative;
        right: 0;
        text-align: center;
        text-decoration: none;
        top: 0;
        z-index: 1;
    }
}

/* #endregion */

/* #region  contactanos*/

@keyframes chatButtonIn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes chatButtonOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
#contactUsButton {
    background: rgb(6, 119, 255);
    border: none;
    border-radius: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    color: #fff;
    fill: #fff;
    cursor: pointer;
    transition: all .15s ease-in-out;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
    animation: chatButtonIn 0.5s ease-in-out 1;


    &:hover {
        background: #37a7e9;
    }

    &:active {
        background: #40b3f5;
    }

    &:focus {
        background: #40b3f5;
        outline: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.25);
    }

    to {
        opacity: 1;
        box-shadow: -150px 0 200px 20px rgba(0, 0, 0, 0.25);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        box-shadow: -150px 0 200px 20px rgba(0, 0, 0, 0.25);
    }

    to {
        opacity: 0;
        box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.25);
    }
}

.channelOptionShadow {
    position: fixed;
    bottom: 0;
    right: -310px;
    width: 310px;
    height: 310px;
    border-top-left-radius: 100%;
    background: rgba(0, 0, 0, 0);
    animation: 0.5s fadeIn 1;
    animation-fill-mode: both;
    z-index: 100;
}

.channelButtons {
    position: fixed;
    bottom: 100px;
    right: 24px;
    z-index: 101;

    a {
        text-decoration: none;
    }
}

.channelButton {
    width: 163px;
    height: 52px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: 0.15s ease-in-out all;
    cursor: pointer;

    &:hover {
        border-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
        border-color: rgba(0, 0, 0, 0.15);
    }

    .channelIcon {
        width: 50px;
        text-align: center;
    }

    img {
        width: 34px;
    }

    svg {
        margin: 0 auto;
    }
}


#smsButton {
    background: #404552;

    &:hover {
        background: #313744;
    }

    &:active {
        background: #272d3a;
    }
}


#webchatButton {
    background: #2BB780;

    &:hover {
        background: #27966d;
    }

    &:active {
        background: #1c6e50;
    }
}

#facebookButton {
    background: #3A5CA9;
    letter-spacing: 0.5px;

    &:hover {
        background: #33539e;
    }

    &:active {
        background: #2e4c94;
    }

}

@keyframes channelButtonIn {
    0% {
        transform: translateX(200px);
    }

    80% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes channelButtonOut {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(200px);
    }
}

.channelButtonIn {
    animation: channelButtonIn 0.3s ease-in-out 1;
    animation-fill-mode: both;
}


#contactChannelContainer {
    .channelButtonsOut {
        .channelButtonIn {
            animation-name: channelButtonOut;
        }

        .channelOptionShadow {
            animation-name: fadeOut;
        }
    }
}

.channelButtonIn-0 {
    animation-delay: 0;
}

.channelButtonIn-1 {
    animation-delay: calc(0.1s * 1);
}

.channelButtonIn-2 {
    animation-delay: calc(0.1s * 2);
}

.channelButtonIn-3 {
    animation-delay: calc(0.1s * 3);
}


@keyframes autoPopIn {
    0% {
        opacity: 0;
        transform: scale(0.5) translateX(30%);
    }

    65% {
        opacity: 50%;
        transform: scale(1.05) translateX(-1%);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

@keyframes autoPopOut {
    0% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }

    100% {
        opacity: 0;
        transform: scale(0.5) translateX(30%);
    }
}

.autoPopBubble {
    animation: autoPopIn 0.5s linear 1;
    animation-fill-mode: both;
    position: fixed;
    bottom: 34px;
    right: 100px;
    background: #fff;
    color: #333;
    padding: 12px;
    font-size: 14px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.3);
    text-align: left;

    &.animateOut {
        animation: autoPopOut 0.25s linear 1;
        animation-fill-mode: both;
    }
}

/* #endregion */




/* #region  transition*/

ul.transition {
    display: flex;
    position: absolute;
    z-index: 999;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    li> img{
        width: 50px;
        position: relative;
        left: 30%;
        top: 30%;
    }
}

ul.transition {
    .color1 {
        transform: scaleY(0);
        background: #2c4a9a;        
        width: 20%;
    }
}

ul.transition {
    .color2 {
        transform: scaleY(0);
        background: #149b3a;
        width: 20%;
    }
}

ul.transition {
    .color3 {
        transform: scaleY(0);
        background: #d07227;      
        width: 20%;
    }
}

ul.transition {
    .color4 {
        transform: scaleY(0);
        background: #37a7e9;
        
        width: 20%;
    }
}

ul.transition {
    .color5 {
        transform: scaleY(0);
        background: #86262f;
        width: 20%;
    }
}


/* #endregion */


/* #region precios*/

.icono {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
}
.price-box{
    position: absolute;
    align-content: center;
    margin: 3em 7em;

}

.pricing-header {
    height: 200px;
    
    background-color: red;
    /* For browsers that do not support gradients */
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 12px 12px 0px 0px;
    background-image: linear-gradient(#6D58FF, #4d90fe);
}

.pricing-header-plus {
    height: 200px;
    background-color: red;
    /* For browsers that do not support gradients */
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 12px 12px 0px 0px;
    background-image: linear-gradient(#4091E3, #92CDC7);
}

.pricing-header-premium {
    height: 200px;
    background-color: red;
    /* For browsers that do not support gradients */
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 12px 12px 0px 0px;
    background-image: linear-gradient(#615198, #9D4CA0);    
}

.pricing-table {
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    transform: scale(1);
    border: 0;
    background-color: white;
    transition: 0.4s ease;
    z-index: 13;
    border-radius: 20px;

    a {
        color: white;
        width: 100%;
    }
    .button {
        --color: #fff;
        --color-hover: var(--hover-back);
        --background: #2B3044;
        --background-hover: var(--light-gray);
        --hover-back: #6D58FF;
        --hover-front: #5C86FF;
        width:17em;
        height: 3em;
        padding: 2em 4em;
        margin: 3em;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 600;
        border: none;
        outline: none;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        mask-image: -webkit-radial-gradient(white, black);
        color: var(--c, var(--color));
        background: var(--b, var(--background));
        transition: color .2s linear var(--c-d, .2s), background .3s linear var(--b-d, .2s);
        &:not(.simple) {
            &:before,
            &:after {
                content: '';
                position: absolute;
                background: var(--pb, var(--hover-back));
                top: 0;
                left: 0;
                right: 0;
                height: 200%;
                border-radius: var(--br, 40%);
                transform: translateY(var(--y, 50%));
                transition: transform var(--d, .4s) ease-in var(--d-d, 0s), border-radius .5s ease var(--br-d, .08s);
    
            }
            &:after {
                --pb: var(--hover-front);
                --d: .44s;
            }
        }
        div {
            z-index: 1;
            position: relative;
            display: flex;
            span {
                display: block;
                backface-visibility: hidden;
                transform: translateZ(0);
                animation: var(--name, none) .7s linear forwards .18s;
            }
        }
        &.in {
            --name: move;
            &:not(.out) {
                --c: var(--color-hover);
                --b: var(--background-hover);
                &:before,
                &:after {
                    --y: 0;
                    --br: 5%;
                }
                &:after {
                    --br: 10%;
                    --d-d: .02s;
                }
            }
            &.out {
                --name: move-out;
                &:before {
                    --d-d: .06s;
                }
            }
        }
    }
    
    @keyframes move {
        30%,
        36% {
            transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
        }
        50% {
            transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
        }
        70% {
            transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
        }
    }
    
    @keyframes move-out {
        30%,
        36% {
            transform: translateY(calc(6px * var(--move))) translateZ(0) rotate(calc(13deg * var(--rotate) * var(--part)));
        }
        50% {
            transform: translateY(calc(-3px * var(--move))) translateZ(0) rotate(calc(-6deg * var(--rotate) * var(--part)));
        }
        70% {
            transform: translateY(calc(2px * var(--move))) translateZ(0) rotate(calc(3deg * var(--rotate) * var(--part)));
        }
    }
    
    &:hover {
        transform: scale(1.1);
        z-index: 95;
    }

    @media screen and (max-width: 40em) {
        &:hover {
            transform: scale(1);
        }
    }

    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        &:hover {
            transform: scale(1);
        }
    }

}

.pricing-content {
    padding-top: 1.5rem;
}

.pricing-content {
    .fa-check {
        background-color: var(--dark-blue);
        border-radius: 25px;
        color: white;
        font-size: 11px;
        padding: 3px;
        margin-right: 1rem;
        img{
            width: 3%;
            padding: 2px;
            margin-bottom: -6px;
        }
    }
}

.pricing-content-plus {
    margin-top: 30px;
}

.pricing-content-plus {
    .fa-check {
        background-color: #7FC4CB;
        border-radius: 25px;
        color: white;
        font-size: 11px;
        padding: 3px;
        margin-right: 1rem;
        img{
            width: 3%;
            padding: 2px;
            margin-bottom: -6px;
        }
    }
}

.pricing-content-premium {
    margin-top: 30px;
}

.pricing-content-premium {
    .fa-check {
        background-color: #4979B9;
        border-radius: 25px;
        color: white;
        font-size: 11px;
        padding: 3px;
        margin-right: 1rem;
        img{
            width: 3%;
            padding: 2px;
            margin-bottom: -6px;
        }
    }
}

.pricingh-basic {
    color: var(--dark-blue);
}

.pricingh-plus {
    color: #4979B9;
}

.bullet-item {
    padding: 0.3rem;
    text-align: left;
    padding-left: 2rem;
    color: black;
    font-weight: 500;
}

.title {
    font-size: 27px;
}

.button {
    font-size: 0.8rem;
    padding: 1rem 3rem 1rem 3rem;
    font-weight: 700;
    border-radius: 23px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.button--free {
    border: 3.5px solid #6D58FF !important;
    border-color: #4d90fe;
    color: black !important;
    background-color: #fff;

}



.button--plus {
    background-color: #7FC4CB !important;
    border: 2px solid #7FC4CB;
    border-color: #7FC4CB;

}


.button--premium {
    background-color: #4979B9;
    border: 2px solid #4979B9;
    border-color: #4979B9;

}

#Planetas{
    fill: #767676;
}

/* #endregion */


/* #region sliderServicios*/

.wrapperslider{
    position: relative;
    width: 94%;
    height: 32vh;
    top: 0;
    left: 0;
    .box{
        position: absolute;
        width: 100%;
        height: 44vh;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        z-index: 3;
        
         &.box1{
            background: #6e6e6e;
            clip-path: polygon(0 0,33% 0,33% 100%,0% 100%);
        }
         &.box2{
            background: #6e6e6e;
            clip-path: polygon(33% 0,67% 0,67% 100%,33% 100%);
        }
        &.box3{
            background: #6e6e6e;
            clip-path: polygon(67% 0,100% 0,100% 100%,67% 100%);
        } 
        &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            .contentSlider{
                opacity: 1;
                transition-delay: 1.5s;
            }
        }
        &:hover{
            z-index: 3;
        }

        .VideoServicios1{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            height:100% ;
            object-fit: cover;
            
        }
        .VideoServicios2{
            display: inline-block;
            position: relative;
            top: 0;
            left: 50%;
            height:100% ;
            object-fit: cover;
        }
        .VideoServicios3{
            display: inline-block;
            position: relative;
            top: 0;
            left: 75%;
            height:100% ;
            object-fit: cover;
        }
          
    }
    
    .contentSlider{
        padding: 20px;
        margin: 20px;
        z-index: 10;
        opacity: 0;
        transition: 1s;
        h2{
            color: white;
            font-size: 12vw;
        }
    }
        
}
  
/* #endregion */



/* # formulario de solicitud*/

/* #endregion */


.js-scaleEl {
    overflow: hidden;
    transform-origin: center;
    backface-visibility: visible;
    margin: 5vw auto;
  }
  
  .js-scaleImageEl {
    transform-origin: center;
    backface-visibility: visible;
    width: 100%;
  }
  
  
  
#main-scrollbar{
    width: auto;
  height: 100vh;
  overflow: auto;
  margin: 0;
  }
  

  /* #region  historia*/
  .historia {
    background: var(--dark-brown);
    color: var(--extra-light-brown);
    overflow-x: hidden !important;
    .herohis {
      display: grid;
      grid-template-columns: 60% 40%;
      height: 100vh;
      
      .copy {
        display: grid;
        align-content: center;
        padding: 0 1rem;
        height: 100%;
        blockquote {
          font-size: 3.5vmin;
          font-weight: 300;
          margin: 1px;
          span {
              font-style: italic;
              font-weight: 400;
          }
          
          cite {
            font-weight: 300;
            font-style: italic;
            font-size: 2.5vmin;
            display: block;
            padding: 8px 0;
          }
        }
      }
      
      .image-wrapper {
        height: 100vh;
        width: 100%;
        
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  
    .section-0 {
        margin-top: 20vh;
        text-align: center;
  
        p {
            font-size: 5vw;
        }
  
        cite {
          //   display: block;
            font-size: 3vw;
        }
    }
    
    .section-1 {
      height: 100vh;
      display: grid;
      place-content: center;
      padding: 0 1rem;
  
      
      .image-mask {
          width: 80vw;
          height: 50vh;
          background: url('../source/historia2.jpg');
          // background-attachment: fixed;
          background-size: cover;
          background-position-x: 50%;
          background-position-y: 90%;
          background-size: 100%;
  
          img {
              height: 100%;
              width: 100%;
              object-fit: cover;
          }
      }
      
      blockquote {
        font-size: 4vmin;
        font-weight: 300;
  
        span {
          font-style: italic;
          font-weight: 400;
        }
          
        cite {
          font-weight: 300;
          font-style: italic;
          font-size: 4.5vmin;
          display: block;
          padding: 8px 0;
        }
      }
    }
    
    .section-2 {
      height: calc(400vh + 32px + 16px);
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-columns: 50% 50%;
  
      blockquote {
          font-size: 3vmin;
          margin: 16em 0 0 6px;
  
          cite {
              display: block;
          }
      }
      
      .images-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 8px;
        gap: 1em;
        margin-top: 16px;
        
        img {
          width: 100%;
          max-height: 43vh;
          font-weight: 600;
          height: 100%;
          align-self: stretch;
          object-fit: cover;
        }
      }
    }
    
    .section-3 {
      height: 100vh;
      display: grid;
      grid-template-columns: 40% 60%;
      position: relative;
      
      .image-wrapper {
        height: 100%;
        width: 100%;
        
        img {
            height: 50%;
            width: 50vw;
            object-fit: cover;
        }
      }
      
      .copy {
        font-size: 3.5vmin;
        height: 100vh;
        width: 100%;
        display: grid;
        align-content: center;
        
        
        blockquote {
          margin: 0 32px;
        }
      }
      
      .copyright {
          position: absolute;
          bottom: 5%;
          left: 50%;
          font-size: 4vmin !important;
      }
    }
  }
  
  
  .button__like-text {
    background: #f9ca24;
    color: var(--color-white);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.2s transform;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .button__num-text {
    display: block;
    transform: translateY(-130%);
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-white);
  }
  
  .bubble {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.4);
    transition: height 0.4s, width 0.4s, background-color 0.4s, all 0.2s;
    z-index: 9999;
  }
  
  .bubble--big {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.03);
    transition: height 0.4s, width 0.4s, background-color 0.4s;
  }
  
  a:focus {
    outline: none;
    position: relative;
    &::after {
        content: '';
        position: relative;
        top: 50%;
        left: 50%;
        z-index: 2;
        border-radius: 50%;
        pointer-events: none;
        // transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.1);
        width: 100px;
        height: 100px;
      
      }
  }
  
  
  
  .call-action {
    height: 40vh;
    background: rgba(10, 25, 47, .4);
    position: relative;
  
    .button {
      position: absolute;
      margin-left: 100px;
      right: 80px;
      left: auto;
      bottom: 80px;
    }
  }
  /* #endregion historia */
//   h1 {
//     margin: 0;
//     padding: 50px 0 0 50px;
//   }
  
//   p {
//     margin: 0;
//     padding: 50px 0 50px 50px;
//   }

 #seccion.horizontal {
    overflow: hidden;
  }
  #seccion {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  
  .servsection:nth-of-type(odd) {
  background-color: #f0f0f0;
  }
  
  #seccion:nth-of-type(even) {
  background-color: #ffffff;
  }
   
  
  .servsection{
  &.horizontal {
    overflow-x: hidden;
  }
  }
  
  .servsection.horizontal{
  .pin-wrap, .animation-wrap {
  display: flex;
      position: relative;
      z-index: 1;  
      height: 100vh;
  }
  } 


  
.servsection.horizontal{
    .item {
        position: relative;
        padding: 150px 80px;
        flex: 0 0 500px;
        height: calc(100vh - 300px);
        display: flex;
        align-items: center;
        line-height: 1.7;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-right: 1px solid rgba(0, 0, 0, 0.06);
        background-color: transparent;
        
    }
    
} 
.servsection.horizontal{
 .item:before {
    position: absolute;
    font-size: 100px;
    opacity: .13;
    font-weight: bold;    
    z-index: -1;
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
    line-height: 1;
}
}



#servsection.horizontal{
    .animation-wrap{        
    .to-right {
        counter-reset: item;
        float: left;
        .item:before {
            counter-increment: item;
            content: counter(item);
        }
    }
    .item:nth-child(2n+2) {
        align-items: flex-start;
    }
    .item:nth-child(4n+4) {
        align-items: flex-end;
    }
    }
    .animation-wrap.to-left {
        counter-reset: item 11;
        float: right; 
        .item:before {
            counter-increment: item -1;
            content: counter(item);
        }
    }
}



.wrapper {
    padding: .5em;
    max-width: 1200px;
    margin: 0 auto;
}
h2 {
    color: white;
    text-align: center;
    position: relative;   

}
h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 60px;
    background: #1779ba;
    top: -.3em;
}

.companies {
    text-align: center;
    opacity: .4;
    display: grid;
        grid-template-columns: repeat(4,auto);
    li {
        margin: 2em 0;
    }

    .skillshare {
        // padding-left:1em;
        width: 70px;
    }

    .ps {
        width: 70px;
        // padding-left: 1em;
    }
    .trans{
        width: 150px;
    }
}

[data-scroll-section] {
    overflow-y: hidden !important;
  }
/* #region  media query*/

@media only screen and (min-width: 968px) {
    .wrapperslider {
        padding-bottom: 33em;
        padding-top: 10em;
        width: 100%;
        .box{
            height: 100vh;            
        }
    }
    video{
        display: initial;
    }
    ul.transition {

        li> img{
            width: 150px;
            position: relative;
            left: 30%;
            top: 30%;
        }
    }
    
}
/* #endregion */

/* #region  pantalla de 800 px*/
// pantalla mediana
@media only screen and(min-width:800px) {
    .price-box{
        position: absolute;
        align-content: center;
        margin: 3em 4em;
    
    }
    .featured,
    .portfolio {
        text-align: left;
    }

    .featured,
    .porfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left,
    .portfolio {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .servicios {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .container-servicios ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
        
    }

    .porfolio {
        padding-top: 7em;
    }

    
    

    .btn-nav {
        background: #37a7e9;
        margin: .2em;
        padding: .1em;
        border-radius: .3em;
        font-size: 1em;
    }
}

//Pantalla mediana

/* #endregion */
/* #region  pantalla de 1050*/
//pantalla grande
@media only screen and (min-width: 1050px) {  
    .hero {
        height: 90vh;
            #Rectangulo_fuego:hover{
                transition: 0.4s ease;
                fill: #86262f;
                stroke: #7c2029;
                transform:translate(-25.52px, 1.52px) scale(1.1);
            }

        }
        .hero-elegirnos {
            height: 90vh;

        }
    
        .nav-container {
            display: grid;
            grid-template-columns: 66% auto;
            background: unset;
    
            header {
                background: rgba(6, 147, 255, 0.59);
                z-index: 6;
            }
        }
    
        .header {
            padding: 2em 2em 2em 4em;
        }
    
        section {
            padding: 4em;
        }
    
        .social-header {
            display: block;
            padding: 2em 4em 2em 0;
            z-index: 6;
    
            ul {
                display: flex;
                justify-content: space-between;
                width: 7em;
                float: right;
    
                img {
                    width: 20px;
                }
            }
        }
    
        .hero {
            display: grid;
            grid-template-columns: 66% auto;
            background: unset;
            padding: 0;
            .contentServicios{
                background: none;
                padding: 6em 8em 6em 4em;
                text-align: left;
                mix-blend-mode: screen;
                z-index: 2;
                h1 {
                    font-size: 3em;
                    line-height: 1.2em;
                }
            }
            .content {
                background: rgba(6, 118, 255, 0.594);
                padding: 3em 8em 6em 4em;
                text-align: left;
                z-index: -1;
                h1 {
                    font-size: 2em;
                    line-height: 1.2em;
                }
            }
        }
    
        .hero-elegirnos {
            display: grid;
            grid-template-columns: 66% auto;
            background: var(--dark-blue);
            padding: 0;
    
            .content {
                padding: 6em 8em 6em 4em;
                text-align: left;

                h1 {
                    font-size: 3em;
                    line-height: 1.2em;
                }
            }
        }
    
        .meet {
            margin: unset;
        }

        .companies {
            display: grid;
            grid-template-columns: repeat(4,auto);
        }
        .hero-design {
            display: unset;
            margin-left: 94%;
            margin-top: -25em;
            width: 70%;
            z-index: 2;
        }
        
        .hero-servicios {
            position: relative;
            display: inline;
            margin-left: -56%;
            margin-top: -15%;
            width: 65vw;
            z-index: 1;
            
        }
        
        .portfolio img {
            float: right;
            max-width: 500px;
        }
        .trans{
            width: 200px;
        }
     .next{
         margin-left: -1em;
         margin-top: 6em;
     }
    }
  
    

//fin Pantallas grandes

/* #endregion */


/* #region pantalla de 1250 */
@media only screen and(min-width:1250px) {

    .header {
        padding: 2em 2em 2em 10em;
    }

    .social-header {
        padding: 2em 10em 2em 0;
    }

    section {
        padding: 5em 10em 4em 10em;
    }

    .hero .content {
        padding: 6em 8em 6em 0em;
    }

    h3 {
        .left1 {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 10px 0;
            text-align: left;

        }

        .center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 10px 0;
            text-align: center;
        }
    }  
    .meetServicios {
        width: 30em;

    }
    
.companies {
    text-align: center;
    opacity: .4;
    display: grid;
        grid-template-columns: repeat(4,auto);
    li {
        margin: 2em 0;
    }

    .skillshare {
        padding-left:1em;
        width: 100px;
    }

    .ps {
        width: 100px;
        padding-left: 1em;
    }
    .trans{
        width: 200px;
    }
}

    .frame{
        width: 95vw;
        height: 90vh;
    }
    .pricing-content, .pricing-content-plus, .pricing-content-premium {
        .fa-check {
            img{
                width: 5%;
            }
        }
    }
    
}

/* #region  contactanos*/

/* #endregion */

/* #endregion */

/* #region footer media*/
@media (min-width: 960px) {
    .footer {
        width: 100%;
        background-color: #6e6e6e;
        margin: 0 auto;
        padding-top: 24px;

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;

            .main {
                max-width: 1440px;
                margin: 0 auto;
                padding: 0 16px 0 16px;
            }
        }

        .col {
            flex: 1;
            max-width: 33%;
            transition: all 0.5s;
            border: 1px solid transparent;

            .site-info {
                flex-direction: column;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.25);
                    transition: all 0.5s;
                    border: 1px solid white;

                    .maps {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-top: 0;
                        overflow: hidden;
                        border: 1px solid transparent;
                        margin: 0;
                        padding: 8px;

                        &:hover {
                            border: 1px solid white;

                        }
                    }
                }
            }
        }

        .footer-disclaimer,
        .footer-links ul {
            border: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .place,
        .footer-links,
        .contactform,
        .footer-disclaimer {
            margin: 8px;
            color: white;
        }

        .logo img {
            width: 50%;
        }

        .place {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin: 0;
            padding: 0;

            .map-container {
                height: 0;
                padding-bottom: 25.5%;
                margin: 0;

                .address {
                    margin-left: 8px;
                    width: 100%;
                    overflow: hidden;
                    padding-bottom: 0;

                    p {
                        font-size: 1rem;
                        margin: 0 0 4px 0;
                        color: white;

                        &:first-child {
                            margin-bottom: 16px;
                            color: white;
                        }
                    }
                }
            }
        }

        .social-icons {
            width: 100%;
            padding-top: 8px;
            margin-top: 8px;
            border-top: none;

            li {
                .footerIcons {
                    padding: 0 .2em;
                    width: 44%;
                }
            }
        }

        .contactform {
            margin: 0 16px;
            padding: 8px;

            p {
                text-align: left;
                border-top: none;
                padding-top: 0;
                color: white;
            }

            form {
                button {
                    margin: 0;
                    color: white;
                }
            }
        }

    }
}

/* #endregion */
