:root {
    --dark-blue: #1f71e8;
    --dark-Gray: #616161;
    --extra-light-brown: #fdf0d7;
    --light-brown: #ecd5ab;
    --dark-brown: #929190;
    --light-yellow: #f8e3a8;
    --light-red: #f3ac99;
    --light-gray: #a6c8cc;

    --default-color: #6e6e6e;
    --secondry-color: #616161;
}



.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;

    .subtitle {
        padding-left: 60px;

    }

    .subtitle {
        font-size: 18px;
        color: #888;
        font-weight: 300;
        padding: top;
        margin: 15px 0;
        margin-bottom: 50px;
    }
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.planetas{
    z-index: -1;
}
.colored-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #fff;

}



.btn.btn-main {
    background: var(--secondry-color);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: none;
    position: relative;
    padding: 15px 40px;

    &:before {
        content: '';
        width: 5px;
        background: var(--dark-brown);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media only screen and (min-width: 1050px) {  

    .clscont{
        display:flex;
        width:100%;
        height:58vh;
        margin-top:19em;
      }
    .image-holder{
        width:70%;
      }
    .getting-started {
        width: 40%;
        padding: 3em;
        border-radius: 0 5% 5% 0;
    
        h4 {
            text-align: left;
        }
    
        p {
            font-size: 1.5em;
        }
    }
    .service_desc {
        width: 55%;
        padding: 3em 2em;
        border-radius: 0 5% 5% 0;
    
        h4 {
            text-align: left;
        }
    
        p {
            font-size: 1.5em;
        }
    }
    button {
        padding: 1.4em;
        width: 40%;
        background-color: #37a7e9;
        color: #ffffff;
        border: none;
        outline: none;
    }
    
}

.clscont{
    display:flex;
    width:100%;
    height:50vh;
    margin-top:6em;
  }
.image-holder{
    width:70%;
  }
.getting-started {
    width: 40%;
    height: 250px;
    padding: 3em;
    border-radius: 0 5% 5% 0;

    h4 {
        text-align: left;
    }
    h2{
        position: relative;
        text-align: center;
        width: 170px;
    }
    p {
        font-size: 1.5em;
        width: 240px;
        height: 100px;
        margin: -3em;
    }
}
.service_desc {
    width: 55%;
    padding: 3em 2em;
    border-radius: 0 5% 5% 0;

    h4 {
        text-align: left;
    }

    p {
        font-size: 1.5em;
    }
}
button {
    padding: 1.4em;
    width: 40%;
    background-color: #37a7e9;
    color: #ffffff;
    border: none;
    outline: none;
}


  .gallery {
	display: flex;
}

.gallery__item {
	margin: 0 3vw;
	display: grid;
	grid-template-areas: '... ...' 
						 '... gallery-image'
						 '... ...' ;
	grid-template-columns: 8rem 21vmax;
	grid-template-rows: 8rem 28vmax 3rem;
}

.gallery__item:nth-child(even) {
	padding-top: 10vh;
}

.gallery__item-img {
	grid-area: gallery-image;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	transform-origin: 50% 100%;
}

.gallery__item-imginner {
	background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: 100%;
}

.gallery__item-caption {
	grid-area: 1 / 1 / 4 / 3;
	display: grid;
	grid-template-areas: 'gallery-number gallery-title' 
						 'gallery-link ...'
						 'gallery-link gallery-tags' ;
	grid-template-columns: 8rem auto;
	grid-template-rows: 8rem auto 3rem;

}

.gallery__item-number {
	grid-area: gallery-number;
	font-size: 6rem;
	font-size: clamp(2.5rem,9vw,6.5rem);
	justify-self: end;
	padding-right: 2rem;
	color: var(--color-gallery-number);
}

.gallery__item-title {
	grid-area: gallery-title;
	margin: 0;
	font-size: 4rem;
	font-size: clamp(2rem,5vw,4rem);
	color: var(--color-gallery-title);
}

.gallery__item-number,
.gallery__item-title,
.gallery__text {
	font-family: moret, serif;
	font-weight: 800;
	font-style: italic;
	align-self: center;
}

.gallery__item-link {
	grid-area: gallery-link;
	align-self: end;
	font-size: 1.5rem;
	background: var(--color-gallery-link-bg);
	color: var(--color-gallery-link);
	text-decoration: underline;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    &:focus,
    &:hover {
	background: var(--color-gallery-link-bg-hover);
	color: var(--color-gallery-link-hover);
	text-decoration: none;
}
}

.gallery__item-tags {
	grid-area: gallery-tags;
	justify-self: end;
	font-size: 1.5rem;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
	cursor: pointer;
}

.gallery__text {
	font-size: 20vw;
	line-height: 0.8;
	margin: 0 10vw 0 14vw;
	text-transform: lowercase;
	color: var(--color-gallery-title);
	color: transparent;
	-webkit-text-stroke: 1px #978c77;
	-webkit-text-fill-color: transparent;
}

.gallery__text-inner {
	display: block;
}
.parr{
    width: 75vw;
    height: 15vh;
    position: relative;      
}